/**
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

#treeview {
	padding: 10px;
	width: 190px;
	overflow: auto;
	/*height: 390px;*/
	border: 0;
}

#folderview {
}

#folderview .path {
	margin-bottom: 10px;
}

#folderview .view {
	display: block;
	margin: 0;
	padding: 0;
	height: 360px;
}

#folderview input#folderpath {
	width: 65%;
	background-color: #f5f5f5;
}

#folderview input#foldername {
	width: 20%;
}

#folderview iframe#folderframe {
	height: 100%;
}

#uploads .upload {
	padding: 4px;
}

div#media-noimages {
	width: 100%;
	text-align:center;
	font-size:14px;
	font-weight:bold;
	color:#CCCCCC;
}

.overall-title, .current-title {
	font-size:12px;
}

.spinner {
	position: absolute;
	left: 50%;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #fff;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(../../jui/images/ajax-loader.gif) center no-repeat;
	width: 66px;
	height: 66px;
	margin: 0 auto;
}

p.nowarning {
	float: left;
	margin-right: 15px;
}

div#update-progress {
	clear: both;
}
