/**
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

@media only screen and (min-width: 768px) {
	#imageForm .control-group,
	#uploadform .control-group {
	    margin-bottom: 0;
	}
}

#uploadform.well {
    margin-bottom: -26px;
}

img {
	border: 0 none;
}

form {
	padding: 0px;
	margin: 0 auto;
	width: 100%;
}
button {
	padding: 3px;
	border: 1px solid #CCCCCC;
	font-weight: bold;
	color: #0B55C4;
	background-color: white;
}
button:hover {
	border: 1px solid #0B55C4;
}

iframe {
	width: 100%;
	border: 0 none;
	margin: 0 0 0.5em 0;
	padding: 0;
}

iframe#imageframe {
	height: 350px;
}

a:hover {
	border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}

.buttons {
	width: 70px;
	text-align: center;
}

#messages {
	position: relative;
	left: 175px;
	top: 115px;
	background-color: white;
	width: 200px;
	float: left;
	margin-top: -52px;
	border: 1px solid #ccc;
	text-align: center;
	padding: 15px;
}

#message {
	font-size: 15px;
	font-weight: bold;
	color: #69c;
}

#uploads .upload {
	padding: 4px;
}

/* added Angie */

#upload-noflash {
		border:0
}
.hide {
	display:none
}

label.hidelabeltxt {
	text-indent: -9999em;
}
