/**
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

 /**
 * Joomla! 1.5 Offline RTL css file
 *
 * @package				Joomla
 * @since				1.5
 * @version				1.0
 */

#frame form{ text-align: right; }
label { float:right; }
fieldset.input p {clear: right;}

/* -- message styles ----------------------------------- */
.alert {
	padding: 8px 8px 25px 14px;
	text-align: right;
}
.alert .close {
	float: left;
	left: -20px;
	right: 0px;
}