/**
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

body {
	margin: 0; padding: 0;
	font-family: Arial, Helvetica, Sans Serif; font-size: 14px;
	color: #333333;
	text-align: center;
}

img  {
	border: 0 none;
	margin-left: auto;
	margin-right: auto;
}

/* -- id styles ------------------------------------- */

#frame {
	margin: 20px auto;
	max-width: 400px;
	padding: 20px;
}

#frame img {
	max-width: 100%;
	height: auto;
}

#frame form {
	text-align: left;
}

/* -- class styles ---------------------------------- */

.outline {
	border: 1px solid #cccccc;
	background: #ffffff;
	padding: 2px;
}

/* -- form styles ----------------------------------- */

form {
	margin: auto;
}

form br {
	display: none;
}

form p {
	margin: 0;
	padding: 0.5em 0 0.5em 0;
}

form fieldset {
	border: 0 none;
	margin: 0em;
	padding: 0.2em;
}

label {
	display: block;
	margin: 5px 0 2px 0;
}

input {
	box-sizing: border-box;
	width: 100%;
	padding: 5px 10px;
	border: 1px solid #0E67A1;
	font-size: inherit;
	font-family: inherit;
}

input.button {
	width: auto;
	cursor: pointer;
	background-color: #006dcc;
	border-color: #04c;
	color: #fff;
	-webkit-appearance: none;
}

input.button:hover {
	background-color: #04c;
}

fieldset.input p {
	clear: left;
}

#frmlogin {
	margin: 0 10px 0 10px;
}

#frmlogin fieldset.button {
	text-align: right;
}

/* -- message styles ----------------------------------- */

#system-message {
	margin: 0 auto;
	padding: 20px 0 0;
	max-width: 445px;
}

.alert {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 8px 25px 8px 14px;
	text-align: left;
}

.alert h4 {
	color: red;
	margin: 5px 0;
}

.alert p {
	padding: 0px;
	margin: 0px;
}

.alert .close {
	float: right;
	font-size: 24px;
	line-height: 18px;
	position: relative;
	right: -20px;
	top: -2px;
	cursor: pointer;
}
.login {
	margin-top: 5px;
}
