/**
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

/* Module edit in front-end */

.jmoddiv.jmodinside {
    position: relative;
    top: 0;
    left: 0;
}
.btn.jmodedit
{
    z-index: 1001;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
html[dir=rtl] .btn.jmodedit
{
    right: auto;
    left: 0;
}

/* Menu edit in front-end */

.btn.jfedit-menu
{
    z-index: 1002;
    display: block;
}
