/**
 * @copyright	Copyright (C) 2005 - 2020 Open Source Matters, Inc. All rights reserved.
 * @license		GNU General Public License version 2 or later; see LICENSE.txt
 */

.outline {
	border: 1px solid #cccccc;
	background: #ffffff;
	padding: 2px;
}

body {
	margin: 15px;
	height: 100%;
	padding: 0;
	font-family: Arial, Helvetica, Sans Serif;
	font-size: 11px;
	color: #333333;
	background: #ffffff;
}

.frame {
	background-color: #FEFCF3;
	padding: 8px;
	border: solid 1px #000000;
	margin-top: 13px;
	margin-bottom: 25px;
}

h1 {
	color: #cc3333;
	font-size: 18px;
}

.table {
	border-collapse: collapse;
	margin-top: 13px;
}

td {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px #bbbbbb;
	font-size: 10px;
}

.type {
	background-color: #cc0000;
	color: #ffffff;
	font-weight: bold;
	padding: 3px;
}